{% assign number = include.number | minus: 1 %}
{% assign images = page.carousels[number].images %}

<div class="carousel">

  {% for item in images %}
    {% assign current = forloop.index0 %}

    {% if forloop.last %}
      {% assign next = 0 %}
    {% else %}
      {% assign next = forloop.index0 | plus: 1 %}
    {% endif %}

    {% if forloop.first %}
      {% assign prev = images.size | minus: 1 %}
    {% else %}
      {% assign prev = forloop.index0 | minus: 1 %}
    {% endif %}

    <div id="slide-{{ current }}" class="carousel-item">

      <img src="{{ item.image }}" alt="">

      <div class="carousel-nav">
        <a href="#slide-{{ prev }}" class="prev">❮</a>
        <a href="#slide-{{ next }}" class="next">❯</a>
      </div>

    </div>

  {% endfor %}

</div>
